//texts
$corDeFundo: #040714;
$corTextoprincipal: silver;
$corTextoSecundaria: #f9f9f9;

//Buttons
$corDeFundoButtonPrimario: #6421ff;
$corDeFundoBotaoSecundario:#0063e5;
$corActiveButtonAssineAgora:#9467fe;
$corBotaoDark: #000;