@use 'config/cores';
@use 'config/mixing';
@use '_hero';

@font-face {
    font-family: Avenir;
    src: url(../shared/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../shared/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cores.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSizee: 16px){
    font-size: $fontSizee;
    line-height: $fontSizee + 10px;
    color: cores.$corTextoprincipal;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: cores.$corTextoSecundaria;
}


.text--big{
    @include text(18px);
}

.text--medium{
    @include text;
}

.text--small{
    @include text(12px);
}

.title--big{
    @include title(44px);
}

.title--medium{
    @include title;
}

.title--small{
    @include  title(28px);
}

.link--text{
    @include text(18px);
    color: cores.$corTextoSecundaria;
    text-decoration: underline;
}
